<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}


<div class="row homeimage">
    <div class="col offset-s4 material-placeholder">
<img class="materialboxed initialized" width="450" src="static/images/homeimg2.JPG">
</div>

</div>
<a class="waves-effect  btn showrecipesbtn" href="{{url_for('getrecipes')}}">Show Recipes</a>




<div class=" row recipeofweektext">
<h4> Recipe of the Week</h4>
<div class="col-lg-12 recipeofweek">
    
    <img class="materialboxed" width="300" height="300" src="static/images/recipeofweek1.jpg">
   
            
        </div>
        <h4>Mozzarella & Portobello Mushroom Burger</h4>
    </div>
</div>



{% endblock %}